[user]
	name = Eoin Motherway
	email = 25342760+YuKitsune@users.noreply.github.com

[core]
	editor = nvim
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED
