[user]
	name = Eoin Motherway
	email = 25342760+YuKitsune@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEBYwpSuOU1uCJdLtM6kjz52h9I7qbGqhdjqd1RhOS5u

[core]
	editor = nvim
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[gpg]
	format = ssh

[commit]
	gpgsign = true
